<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sifremi_unuttum.Properties.Settings.Kullanici_girisiConnectionString"
            connectionString="Data Source=LAPTOP-I5A7DU4B;Initial Catalog=Kullanici_girisi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>